.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }
#rolelisttable{
    width: 100% !important;
    height: 100% !important;
    background: #fff;
}

button#useraddbutton{
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
span.anticon.anticon-delete{
    margin-left: 20px;
}
th.ant-table-cell{
    text-align: center !important;
}
.ant-row.ant-form-item{
    text-align: center;
    margin-top: 20px;
}
.ant-modal-footer{
    display: none;
}
div#rcDialogTitle0{
    text-align: center;
}
td.ant-table-cell{
    text-align: center;
}
/* .login-form {
    margin-top: 0px !important;
    padding: 0px !important;
} */
label.ant-checkbox-wrapper{
    font-size: 18px;
    text-transform: uppercase;
}
#clock{
    margin-left: 3px;
}
#graph{
    margin-left: -2px;
}
div#rcDialogTitle1{
    text-align: center;
}
#updatecheckbox{
    text-align: left;
}
h3{
    text-align: left;
}
label.ant-checkbox-wrapper.ant-checkbox-group-item{
    width: 31%;
}
.ant-checkbox-group{
    width: 100%;
    text-align: left;
}
.ant-layout-sider-children{
    height: 0px;
    }